*{
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

#contenedor{
  background-color: white;
  color: white;
  width: 100%;
  height: 900px;
}
#cabeza{
  background-color: tomato;
  width: 100%;
  height: 10%;
  text-align: center;
  margin-bottom:10px ;
  
  
}
#nacegacion{
  background-color: gray;
  width: 97%;
  height: 5%;
  margin: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}
#cuerpo{
  background-color: white;
  width: 97%;
  height:55%;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  
}
#pie{
  background-color: #1b262c;
  width: 97%;border-radius: 4px;
  height: 30%;margin: 10px;
  padding: 10px;
  overflow: hidden;
  
    
}
#primero{
  background-color: white;
  width: 95%;
  margin: 10px;
  height: 88%;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
    border-radius: 4px;
  box-shadow: 0.1px 0.1px 10px black ;
  float: left;
  
}
 
  

#nacegacion li{
  display: inline-block;
}
#nacegacion a {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 5px;
  box-shadow: 0px 3px darkred ;
  
}
#nacegacion a:hover{
  background-color: tomato;
  transition: 0.3s;
}


#art1{
   background-color: white;
  color:black;
  width: 95%;
  margin: 10px;
  height: 90%;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
    border-radius: 4px;
  box-shadow: 0.1px 0.1px 10px black ;
}

#art2{
   background-color: white;
  color:black;
  width: 95%;
  margin: 10px;
  height: 40%;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
    border-radius: 4px;
  box-shadow: 0.1px 0.1px 10px black ;
}


.col{
  float: left;
  width: 20%;
  height: 70%;
  
  
}
.col li{
  list-style: none;
}
.col a{
  text-decoration: none;
  color: white;
}
.col a:hover{
  color: tomato;
}
#noob {
  width: 300px;
  height: 30px;
  border-radius: 7px 7px 0px 0px;
  
  
  
}
#noob:hover{
  box-shadow:1px 1px 5px blue;
}
#noob2 {
  width: 300px;
  height: 30px;
  border-radius: 0px 0px 7px 7px;
  
}
#noob2:hover{
  box-shadow:1px 1px 5px blue;
}
#noob3{
  width: 305px;
  background-color: tomato;
  color: black;
  border-style: none;
  margin-top: 5px;
  box-shadow: 1px 6px darkred;
    
}
#noob3:hover{
  background-color: lightsalmon;
  transition: 0.1;
}
#footer{
  background-color: #1b262c;
  text-align: center;
  width: 100%;
  height: 30%;
  overflow: hidden;
}
#anuncio {
    color:black; 
    text-align: center;
    word-wrap: break-word;
  background-color: white;
  color:black;
  width: 18%;
  margin: 10px;
  float: left;
  height: 88%;
  padding: 10px;
    border-radius: 4px;
  box-shadow: 0.1px 0.1px 10px black ;
}
