*{
  margin: 0px;
  padding: 0px;
  font-family: arial;
}

#contenedor{
  background-color:rgba(0,64,128,.1);
  color: white;
  width: 100%;
  height: 1000px;       
  margin: auto;
}
#cabeza{
  background-color:#323edd;
  width: 100%;
  height: 15%;
  text-align: center;
  line-height: 130px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom:10px ;
  
  
}
/*https://bradleysantos123.github.io/bidi.github.io/ */
#nacegacion{
  background-color:#6600FF;
  width: 100%;
  line-height: 40px;
  height: 10%;
  text-align: center;
  box-shadow:1px 1px 17px black ;
  padding: 10px;
  position: fixed;
  top: 0;
}
#primero h2{
  text-align: start;
  font-size: 30px;
  margin-bottom:15px; 
}
#cuerpo{
  background-color:rgba(0,64,128,.0);;
  width: 80%;
  height:41.5%;
  margin: 10px;
  margin-top:20px ;
  margin-left: 240px;
  padding: 10px;
  border-radius: 4px;
  
  
}
#cuerpo h3{
  margin-bottom: 30px;
  font-size: 30px;
}
#cuerpo form{
  margin-top: 0px;
}
#pie{
  background-color: #1b262c;
  width: 123%;
  height: 83.3%;
  margin: 0px;
  margin-left: -250px;
  padding: 10px;
  color:#ededed ;
  overflow: hidden;
  font-weight:bold;
  line-height: 30px;
  
    
}
#primero{
  background-color: white;
  width: 75%;
  margin: 10px;
  height: 99%;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
    border-radius: 4px;
 border: 1px solid rgba(0,64,128,.2);
  box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
  float: left;
  
}
#primero p{
  margin-bottom: 2rem;
  line-height: 25px;
  color:#7f8c8d;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
 /* text-align: justify;*/
}

  

#nacegacion li{
  display: inline-block;
  
}
#nacegacion a {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 3px darkred ;
  
}
#nacegacion a:hover{
  background-color: #ffa41b;
  transition: 0.3s;
  color:white;
}


#art1{
   background-color: white;
  color:black;
  width: 95%;
  margin: 10px;
  height: 40%;
  padding: 10px;
  
  text-align: center;
  word-wrap: break-word;
    border-radius: 4px;
  
  
}


.col{
  float: left;
  width: 20%;
  height: 70%;
  
  
}
.col li{
  list-style: none;
}
.col a{
  text-decoration: none;
  color: white;
}
.col a:hover{
  color: tomato;
}

#noob {
  width: 300px;
  height: 30px;
  font-weight: bold;
  padding-block-start:2px;
  /*! padding-block-end:2px ; */
  border-radius: 7px 7px 0px 0px;
  border:2px solid gray;
  
  
  
  padding: 0 7px;
}
#noob:focus{
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 .2em

    rgba(3,102,214,.3);

}
#noob2:focus{
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 .2em

    rgba(3,102,214,.3);

}

#noob2 {
  width: 300px;
  padding-block-start:2px;
  font-weight: bold;
  /*! padding-block-end:2px ; */
  height: 30px;
  border-radius: 0px 0px 7px 7px;
  border:2px solid gray;
  
  padding: 0 7px;
}
.col h3{
  font-size: 25px;
  margin: 10px;
}

#noob3{
  width: 318px;
  background-color: red;
  color: white;
  border-style: none;
  font-weight: bold;
  margin-top: 8px;
  border-radius: 6px;
  padding: 6px;
  box-shadow: 1px 6px darkred;
    
}
#noob3:hover{
  background-color: #ffa41b;
  transition: 0.2;
  
}

#footer{
  background-color:black;
  text-align: center;
  line-height: 90px;
  font-weight:bold;
  width: 100%;
  
  height: 30%;
  color: #ededed ;
  overflow: hidden;
}
@media (max-width: 360px){
  
  #contenedor{
    height: 1350px;
  }
  #cuerpo{
    margin-left:0px;
    width: 90%;
    height:22%
  }
  #cuerpo h3{
    font-size: 20px;
  }
  #primero{
    padding: 35px;
  }
  
  #noob{
    width: 200px;
    margin-right: 30px;
  }
  #noob2{
    width: 200px;
    margin-right: 30px;
  }
  #noob3{
    width: 221px;
    margin-right: 30px;
  }
  #pie{
    height: 246%;
    width: 103%;
    margin:0px;
    padding: 0px;
  }
  
  .col{
    padding-top: 10px;
    width: 230px;
    height: 25%;
    margin-left:100px ;
    line-height: 20px;
    overflow: hidden;
   
  }
  .col li{
    
    line-height: 20px;
  }
  .col a{
    line-height: 20px;
  }
  .col h3{
    line-height:10px;
  }
  #footer{
    height: 10%;
    transform:translatey(77px);
  }
  
  
  
  
  
  
}



@media (max-width:768px){
  #cabeza{
    line-height: 158px;
    
  }
  #nacegacion{
    height: 5%;
    
  }
  #primero{
    margin-left: -100px;
  }
  #pie{
    height: 110%;
  }
}



@media (max-width: 375px){
  
  #nacegacion{
    width: 70%;
  }
  
  #primero{
    margin-left: -200px;
  }
  
  /* cosasas rararararrararrarara*/
  
   #contenedor{
    height: 1350px;
  }
  /*
  #cuerpo{
    margin-left:0px;
    width: 90%;
    height:22%
  }*/
  #cuerpo h3{
    font-size: 20px;
  }
  #primero{
    padding: 35px;
   
  }
  #primero form{
    margin-right: 30px;
  }
  
  
  #noob{
    width: 200px;
    margin-right: 30px;
  }
  #noob2{
    width: 200px;
    margin-right: 30px;
  }
  #noob3{
    width: 221px;
    margin-right: 30px;
  }
  #pie{
    height: 246%;
    width: 103%;
    margin:0px;
    padding: 0px;
  }
  
  .col{
    padding-top: 10px;
    width: 230px;
    height: 25%;
    margin-left:100px ;
    line-height: 20px;
    overflow: hidden;
   
  }
  .col li{
    
    line-height: 20px;
  }
  .col a{
    line-height: 20px;
  }
  .col h3{
    line-height:10px;
  }
  #footer{
    height: 10%;
    transform:translatey(77px);
  }
  
  
  /*fin de cosas raras*/
  
}
